/* Import all modules here */
/*Default variable*/
/* Import font here. */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}
* body, ::before body, ::after body {
  background-color: rgb(240, 240, 240);
}

/*Default variable*/