/*Content Wrapper
/**********************************/
#content-wrapper{
    width: 100%; height: fit-content;
    padding-left: 50px; padding-right: 50px;
    text-align: center;
}
/**********************************/


/*Img
/**********************************/
#content-wrapper img{
    height: 360px;
    width: 640px;
    
    border-radius: 15px;
    cursor: pointer;
}
/**********************************/


/*Last Added
/**********************************/
#last-add{
    width: 100%;

    position: relative;
    top: 115px;
    border-radius: 5px;
}
#last-add h1{
    font-weight: 200;
    margin-bottom: 20px;
}
.img-box{
    display: inline-block;
    margin: 25px;
    
    border-bottom: 1px solid #1e272e;
}
.img-box p{
    width: fit-content;

    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;

    background-color: #fad390;
}
.img-box p::before{
    content: " : ";
}
/**********************************/