@import '_variables.scss';

/* Import font here. */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, ::before, ::after{
    margin: 0;padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
}
.bg_container
{
    background-image: url('../../img/gradient_1.svg');
    position: fixed;
    height: 100vh;width: 100%;
    top: 0;
    z-index: -1;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}