@import '_variables.scss';

header
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5rem;

    font-size: 8px;
    font-weight: 400;
    color: $default_primary_color;
    .title{opacity: 70%;}
    .pages
    {
        display: flex;
        
        p{margin-right: 11px; opacity: 70%;}
        .links
        {
            display: inline-block;
            font-style: none;
            a
            {
                color: $default_primary_color;
                padding: 4px 8px;
                opacity: 20%;
            }
            a:hover{opacity: 70%;}
        }
    }
}
