@import '../_variables.scss';

header
{   
    z-index: 999;
    position: fixed;
    cursor: default;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;height: 35px;
    padding: 5px 5vw;
    p
    {
        color: $default_primary_color;
        opacity: 35%;
        
        letter-spacing: 1px;
        font-weight: lighter;
        font-size: 10px;
    }
}
